.line-clamp-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.see_more a{
    position: absolute;
    bottom: 0px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
}
footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
footer .container .flex {
    flex-wrap: wrap;
}
footer .container .flex a {
    margin: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}
footer .container .flex a:hover {
    color: #a0aec0;
}
footer .flex {
    justify-content: space-between;
}
footer .flex.justify-center {
    justify-content: center;
}
footer .space-x-4 {
    gap: 1rem;
}
footer .text-center {
    text-align: center;
}
footer .inline-flex {
    display: inline-flex;
    align-items: center;
}
footer .hover\:text-gray-400:hover {
    color: #a0aec0;
}
footer .text-sm {
    font-size: 0.875rem;
}
footer .text-gray-400 {
    color: #a0aec0;
}
footer .text-white {
    color: #fff;
}
footer .bg-black {
    background-color: #000;
}